.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    width: 300px;
    height: 370px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaa;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background-image: url('nada.png');
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card div {
    padding: 1rem;
    text-align: center;
}

.card h1 {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 1rem 0;
}

.card h2 {
    font-size: 1rem;
    color: #aaa;
    margin: 0.5rem 0;
}

.card button {
    background: linear-gradient(-45deg, #01B1FC, #A037DD);
    height: 35px;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
    color: #fff;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 4.6rem;
    cursor: pointer;
    transition: background 0.3s ease-out;
}

.card button:hover {
    background: linear-gradient(-45deg, #A037DD, #01B1FC);
}

