body { 
    font-family: "JetBrains Mono";
}

*{margin: 0; padding: 0;}



@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Knewave&family=Press+Start+2P&display=swap');
:root { 
    --color-header: #1E1E1E;
    --color-pesquisa: #d9d9d9;
    --color-opcao: #333333;
    --color-barra1: #01B1FC;
    --color-barra2: #64DBB9;
    --color-barra3: #A037DD;
}
/*header*/
.container {
    width: 100%;
    height: 88px;
    background-color: var(--color-header);
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 1.5rem; 
    box-sizing: border-box;
    
}

.barra-colorida { 
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, var(--color-barra1), var(--color-barra2), var(--color-barra3));
}

.container-barra { 
    width: 100%;
    height: 48px;
    background-color: var(--color-opcao);
    
}

.logo {
    display: flex;
    align-items: start;
    margin-right: 1rem; 
}


#config { 
    display: flex;
    align-items: end;
    position: relative;
    justify-content: end;
    margin-left: 1.3rem;
    width: 50px;
}

/*final do header*/


/*barra de pesquisa*/
.search { 
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: 750px;
    margin: auto;
    background-color:  var(--color-pesquisa);
    padding:  5px 1px;
    border-radius: 8px;
    justify-content: center;
    

}

#searchInput { 
    padding: 5px;
    margin-left: 0.4rem;
    border: none;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;
    width: 100%;
    outline: none;
    color: #666666;
    
   
}

.search label { 
    height: 25px;
}
/*final da barra de pesquisa*/

@media screen and (max-width: 526px) {


    .logo { 
        display: flex;
        position: relative;
        right: 3%;
        
    }

    .logo img { 
        display: flex;
        
    
     
    }

    .produtos-gerais { 
        font-size: 20px;
    }
   
    .search { 
        width:90%;
    }

    #searchInput { 
        padding: 3px;
    }

}

.navegacao {
    display: flex;
    justify-content: center;
    gap: 14%;
    height: 100%;
}

.navegacao a { 
    color: #ffffff;
    text-decoration: none;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 17px;
    
}

.navegacao a {
    text-decoration: none; 
    font-size: 17px; 
    transition: color 0.3s; 
}


.navegacao a:hover {
    color: #A037DD; 
}

@media only screen and (max-width: 626px) {    
    .navegacao a { font-size: 10px;
        
}   
    .navegacao { 
        gap: 5%;
    }

    #config { 
        width: 35px;
        margin-top: 0.3rem;
    }

    .logo img {
        width: 150px;
    }
    
}

/*gear*/ 

nav li a { 
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: inline-block;
}

.dropdown-menu {
    width: 160px;
    height: 100px;
    background-color: #1E1E1E;
    position: absolute;
    margin-top: 0.6rem;
    right: 0.4rem;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(97, 97, 97);
    z-index: 1000;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.089);
    list-style-type: none;
    display: none; 
}

.dropdown-menu a {
    display: block;
    padding-top: 1.24rem;
    text-decoration: none;
}

.dropdown:hover  .dropdown-menu{
    display: block;
} 

.dropdown {
    list-style-type: none; 
}
