*{margin: 0; padding: 0;}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

:root { 
    --color-header: #1E1E1E;
    --color-pesquisa: #d9d9d9;
    --color-opcao: #333333;
    --color-barra1: #01B1FC;
    --color-barra2: #64DBB9;
    --color-barra3: #A037DD;
}

.container {
    width: 100%;
    height: 88px;
    background-color: var(--color-header);
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 1.5rem; 
    box-sizing: border-box;
}

.barra-colorida { 
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, var(--color-barra1), var(--color-barra2), var(--color-barra3));
}

.container-barra { 
    width: 100%;
    height: 48px;
    background-color: var(--color-opcao);
    
}

.logo {
    display: flex;
    align-items: start;
    margin-right: 1rem; 
}

.aurora {
    font-family: JetBrains Mono;
    color: white;
    font-weight: 200;
    font-size: 24px; 
    display: flex;
    position: relative;
    top: 1.1rem;
}

.search { 
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: 450px;
    margin: auto;
    background-color:  var(--color-pesquisa);
    font-family:  JetBrains Mono;
    padding:  4px 1px;
    border-radius: 7px;

}

#searchInput { 
    padding: 4px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    color: #666666;
   
}

.search label { 
    height: 25px;

}

@media screen and (max-width: 426px) {
    .aurora {
        display: none; /* Oculta o elemento em telas pequenas */
    }

    .search {
        width: 70%; /* Ajusta a largura da pesquisa para telas pequenas */
    }
}