*{margin: 0; padding: 0;}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Knewave&family=Press+Start+2P&display=swap');
:root { 
    --color-header: #1E1E1E;
    --color-pesquisa: #d9d9d9;
    --color-opcao: #333333;
    --color-barra1: #01B1FC;
    --color-barra2: #64DBB9;
    --color-barra3: #A037DD;
}
/*header*/
.container {
    width: 100%;
    height: 88px;
    background-color: var(--color-header);
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 1.5rem; 
    box-sizing: border-box;
}

.barra-colorida { 
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, var(--color-barra1), var(--color-barra2), var(--color-barra3));
}

.container-barra { 
    width: 100%;
    height: 48px;
    background-color: var(--color-opcao);
    
}

.logo {
    display: flex;
    align-items: start;
    margin-right: 1rem; 
}

.aurora {
    font-family: JetBrains Mono;
    color: white;
    font-weight: 200;
    font-size: 24px; 
    display: flex;
    position: relative;
    top: 1.1rem;
    padding-right: 1rem;
}

#config { 
    display: flex;
    align-items: end;
    position: relative;
    justify-content: end;
    margin-left: 1.3rem;
    width: 50px;
}

/*final do header*/


/*barra de pesquisa*/
.search { 
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: 750px;
    margin: auto;
    background-color:  var(--color-pesquisa);
    font-family:  JetBrains Mono;
    padding:  5px 1px;
    border-radius: 8px;
    justify-content: center;
    

}

#searchInput { 
    padding: 5px;
    margin-left: 0.4rem;
    border: none;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;
    width: 100%;
    outline: none;
    color: #666666;
   
}

.search label { 
    height: 25px;
}
/*final da barra de pesquisa*/

@media screen and (max-width: 526px) {


    .logo { 
        display: flex;
        position: relative;
        right: 3%;
    }

    .logo img { 
        display: flex;
        width: 35px;
     
    }
   
    .search { 
        width:90%;
    }

    #searchInput { 
        padding: 3px;
    }

}

.navegacao {
    display: flex;
    justify-content: center;
    gap: 14%;
    height: 100%;
}

.navegacao a { 
    color: #ccc;
    text-decoration: none;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 17px;
}

@media only screen and (max-width: 626px) {    
    .navegacao a { font-size: 10px 
} 
    .aurora {
        display: none;
    }   

    .navegacao { 
        gap: 5%;
    }

    #config { 
        width: 35px;
    }
    
}

