@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');
body { 
    background-color: rgb(226, 230, 231);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container { 
    width: 340px;
    height: 470px;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.212);
    margin: auto;
    display: flex;
    flex-direction: column; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    position: relative;
}

.site { 
    font-family: JetBrains Mono;
    text-align: center;
    display: flex;
    position: relative;
    bottom : 3.3rem;
    z-index: 10;
}

.textos { 
    display: flex;
    flex-direction: column;
    gap: 5rem; /* Espaço entre os botões */
    font-family: JetBrains Mono;
    font-size: 18px;
}

.textos a.button {
    color: rgb(211, 211, 211);
    text-decoration: none; /* Remove sublinhado dos links */
    background-color: rgb(73, 73, 73);
    width: 170px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.textos a.button:hover {
    color: white;
    background-color: rgba(71, 71, 71, 0.781);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.205);
}

.textos a.button:active {
    background-color: rgba(71, 71, 71, 0.9);
}


.logo { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.7rem;
    margin-bottom: 2rem; 
    font-size: 52px;
    font-family: JetBrains Mono;
    font-weight: 900;
}

.logo p {
    text-transform: uppercase;
    background:  linear-gradient(45deg, rgb(141, 141, 141), rgb(58, 57, 57), rgb(41, 38, 38), rgb(141, 141, 141));
    background-size: 400% 100%;
    animation:  degrade 7s linear infinite alternate;
    -webkit-background-clip:  text;
    -webkit-text-fill-color:  transparent;
    text-shadow:  4px 2px 6px  rgba(0, 0, 0, 0.24);
}

@keyframes degrade {
     0%{
        background-position-x: 0% ;
     }

     100%{ 
        background-position: 400%;
     }
}

/* Estilos para o footer */
.footer { 
    font-family: JetBrains Mono;
    text-align: center;
    margin-top: 2rem;
}