
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


body { 
    background-color: rgb(226, 230, 231);
}

*{padding: 0; margin: 0;}

.container { 
    width: 335px;
    height: 470px;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.212);
    margin: auto;
    display: flex;
    top: 1.3rem;
    position: relative;
    
}

.site { 
    font-family: JetBrains Mono;
    position: relative;
    text-align: center;
    top: 6rem;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 10; 
}

.textos { 
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: column;
    gap: 80px;
    font-family: JetBrains Mono;
    font-size: 18px;
    margin-bottom: 3.5rem;
    
   
}

.logo { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2rem;
    filter:  drop-shadow(5px 3px 5px rgba(33, 48, 59, 0.733));
}


.footer { 
    font-family: JetBrains Mono;
    top: 3rem;
    position: relative;
    text-align: center;
  
}

.textos p {
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease; 
    background-color: rgb(73, 73, 73);
    width: 170px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
}

.textos p:hover {
    color: white;
    background-color: rgba(71, 71, 71, 0.781);
    box-shadow:  5px 5px 9px rgba(0, 0, 0, 0.205);
}  