
body { 
    background-color:  #D9D9D9;
    font-family: "JetBrains Mono";
}

*{margin: 0; padding:  0 } 


.produtos-gerais { 
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: #444343;
    font-size: 24px;
    font-weight: 600;
}

.cima { 
    display: flex;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    height: 4px;
    color: #313131;
    text-shadow:  2px 4px 4px rgba(2, 2, 2, 0.274);
}