body {
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    background-color: #f0f0f0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#fundo_site {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

#fundo_site img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.sobre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    min-height: 600px;
}

#eu {
    font-size: 36px;
    margin: 0;
}

.foto-perfil {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border: solid 4px rgba(58, 58, 58, 0.395);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 650px;
    display: flex;
    flex-direction: column;
}

.container, #projeto {
    color: #fbf7f7;
}

.card {
    width: 340px;
    height: 130px;
    background-color: #ffffff;
    border-radius: 15px;
}

.card img {
    width: 60px;
    height: 60px;
    align-items: start;
    justify-content: start;
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
}

.name_me {
    font-size: 2rem;
    margin-top: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0.1rem;
}

.voltar {
    position: absolute;
    bottom: 80px; /* Ajusta a posição vertical para ficar mais distante do rodapé */
    left: 2rem;
    z-index: 1;
}

.voltar button {
    border: none;
    width: 95px;
    height: 40px;
    border-radius: 10px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 600;
    background-color: #ffffff4d;
    color: #fff;
    transition: 0.5s ease;
}

.voltar button:hover {
    background-color: #5f095b55;
}

strong {
    color: yellow;
}

#mais {
    color: #ffffff;
    font-size: 19px;
    margin-top: 2rem;
    width: 100%;
}

.icons {
    font-size: 2.7rem;
    margin-top: 1rem;
    color: #c4c4c4;
    margin-bottom: 1.7rem;
}

.opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.opcoes button {
    display: flex;
    border: none;
    width: 140px;
    height: 45px;
    justify-content: center;
    background-color: #dadada9a;
    text-align: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "JetBrains Mono", monospace;
    color: #fbf7f7;
    font-weight: 500;
    margin: 0.2rem;
    transition: 0.5s ease;
}

.opcoes button:hover {
    background-color: #5f095b55;
}

.opcoes a {
    text-decoration: none;
}

.copy {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #cacaca;
    text-align: center;
    box-sizing: border-box;
    z-index: 1;
}

/* Media Query para telas de notebooks */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        max-width: 80%;
        padding: 20px;
    }

    .foto-perfil {
        width: 180px;
        height: 180px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .name_me {
        font-size: 1.8rem;
        margin-top: 1rem;
    }

    h2 {
        font-size: 1.3rem;
        margin-top: 0.5rem;
    }

    .icons {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .opcoes button {
        width: 120px;
        height: 40px;
        font-size: 14px;
        margin: 0.5rem;
    }

    footer {
        font-size: 13px;
    }
}

/* Media Query para dispositivos móveis */
@media only screen and (max-width: 768px) {
    header {
        max-width: 90%;
        padding: 20px;
    }

    .foto-perfil {
        width: 150px;
        height: 150px;
    }

    .name_me {
        font-size: 1.2rem;
        margin-top: 0.4rem;
    }

    #mais {
        margin-top: 2rem;
        font-size: 14px;
    }

    h2 {
        font-size: 1rem;
        margin-top: 0.1rem;
    }

    .icons {
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    .opcoes button {
        width: 120px;
        height: 40px;
        font-size: 14px;
        margin: 0.4rem;
    }

    footer {
        font-size: 13px;
    }

    #eu {
        font-size: 28px;
    }

    .container, #projeto {
        font-size: 14px;
    }
}
